<! DOCTYPE HTML>
<html>
    <head>
        <meta charaset="utf-8">
        <title>
            {{pageTitle}}
        </title>
    </head>
    <body>
        {{> header}}
        <p>
            {{screamIt message}} {{name}}
        </p>
        {{> footer}}
    </body>
</html>